@use "../abstracts/" as a;

.button {
  display: inline-block;
  padding: a.$space-3 a.$space-5;
  border-radius: a.$radius-2;
  border: 0;
  cursor: pointer;
  box-shadow: a.$shadow-1;
  transition: transform 0.08s ease, box-shadow 0.2s ease;
}

.button:active {
  transform: translateY(1px);
}

.button--primary {
  background: a.$color-primary;
  color: #062a25;
}

.button--secondary {
  background: transparent;
  color: a.$color-text-dark;
  border: 1px solid a.$color-muted-dark;
  transition: color 0.3s ease, border 0.3s ease;
}

body.light-mode .button--secondary {
  color: a.$color-muted-light;
  border: 1px solid a.$color-muted-light;
}

.button--ghost {
  background: transparent;
  color: a.$color-text-dark;
  border: 1px dashed a.$color-muted-dark;
  transition: color 0.3s ease, border 0.3s ease;
}

body.light-mode .button--ghost {
  color: a.$color-muted-light;
  border: 1px dashed a.$color-muted-light;
}
