@use "../abstracts/" as a;

.contact {
  padding-block: a.$space-7;
}

.contact__grid {
  display: grid;
  gap: a.$space-6;

  @include a.respond-to(md) {
    & {
      grid-template-columns: 1fr 1fr;
      align-items: start;
    }
  }
}

.contact__image {
  width: 100%;
  border-radius: a.$radius-2;
  margin-bottom: a.$space-3;
}

.contact__list {
  padding-left: 1rem;
  list-style: disc;
}
