@use "../abstracts/" as a;

.form {
  display: grid;
  gap: a.$space-3;
}

.form__label {
  font-weight: 700;
}

.form__input,
.form__textarea {
  width: 100%;
  background: transparent;
  border: 1px solid a.$color-muted-dark;
  border-radius: a.$radius-1;
  color: a.$color-text-dark;
  padding: a.$space-3 a.$space-4;
  transition: color 0.3s ease, border-color 0.3s ease;
}

body.light-mode .form__input,
body.light-mode .form__textarea {
  color: a.$color-text-light;
  border-color: a.$color-muted-light;
}
