@use "../abstracts/" as a;

:root {
  font-size: 16px;
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin: 0 0 a.$space-4;
}

h1 {
  font-size: clamp(2rem, 3vw + 1rem, 3.5rem);
}

h2 {
  font-size: clamp(1.4rem, 1.2vw + 1rem, 2rem);
}

h3 {
  font-size: 1.125rem;
}

p {
  margin: 0 0 a.$space-4;
  color: a.$color-muted-dark;
  transition: color 0.3s ease;
}

small {
  color: a.$color-muted-dark;
  transition: color 0.3s ease;
}

body.light-mode small {
  color: a.$color-muted-light;
}
